button.toggle{
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(20, 20, 20, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(20, 20, 20, 0.3) 1px),
  repeating-linear-gradient(to bottom right, #402010, #603018, #606018);
  color: rgba(255, 255, 255, 0.87);
}

.background {
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(to bottom right, #402010, #603018, #606018);
/*  image(url("../../../4k/sw_bg_blue"));*/
  color: rgba(255, 255, 255, 0.87);
}

textview text {
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(to bottom right, #402010, #603018, #606018);
  color: rgba(138, 113, 94, 0.99);
  caret-color: #8a715e;
}

notebook > stack:not(:only-child) {
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(to bottom right, #201005, #30180c, #30300c);
  color: rgba(255, 255, 255, 0.87);
}

list {
  border: 1px solid transparent;
  border-color: #8a715e;
  background-color: rgba(40, 20, 10, 0.5);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 6px rgba(255,186,100, 0.12), 0 2px 2px -2px rgba(0,0,0, 0.3), 0 1px 2px -1px rgba(0,0,0,0.24), 0 1px 2px -0.6px rgba(0,0,0, 0.17);
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(to bottom right, #402010, #603018, #606018);
  color: rgba(255, 255, 255, 0.87);
}

dialog .titlebar {
  background-image:
  repeating-linear-gradient(35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(-35deg, rgba(0, 0, 0, 0.3),
                                    rgba(40, 20, 10, 0.3) 1px),
  repeating-linear-gradient(45deg, #402010, #603018, #606018);
  color: rgba(255, 255, 255, 0.87);
}

dialog .view {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(18,12,3,1);
}


